<template>
    <div>
        <canvas id="renderCanvas"></canvas>
    </div>
</template>
<style>
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<script>
import * as BABYLON from 'babylonjs'
import 'babylonjs-loaders'
export default {
  name: 'Babylon',
  data () {
    return {
      canvas: null,
      engine: null,
      scene: null,
      camera: null
    }
  },

  mounted() {
    this.canvas = document.getElementById('renderCanvas')
    this.engine = new BABYLON.Engine(this.canvas, true, {preserveDrawingBuffer: true, stencil: true});
    this.createScene()
  },

  methods: {
    createScene () {
      // Create a basic BJS Scene object
      this.scene = new BABYLON.Scene(this.engine);
      // Create a FreeCamera, and set its position to {x: 0, y: 5, z: -10}
      // this.camera = new BABYLON.FreeCamera('camera1', new BABYLON.Vector3(0, 5, -10), this.scene);
      this.camera = new BABYLON.ArcRotateCamera('camera', 0, 2000, 20, BABYLON.Vector3.Zero(), this.scene)
      // Target the camera to scene origin
      this.camera.setTarget(BABYLON.Vector3.Zero());
      // Attach the camera to the canvas
      this.camera.attachControl(this.canvas, false);
      // Create a basic light, aiming 0, 1, 0 - meaning, to the sky
      new BABYLON.HemisphericLight('light1', new BABYLON.Vector3(0, 1, 0), this.scene);
      // Create a built-in "sphere" shape; its constructor takes 6 params: name, segment, diameter, scene, updatable, sideOrientation
      // let sphere = BABYLON.Mesh.CreateSphere('sphere1', 16, 2, this.scene, false, BABYLON.Mesh.FRONTSIDE);
      // this.camera = new BABYLON.FollowCamera('camera1', new BABYLON.Vector3(0, 5, -10), this.scene, sphere);
      // Move the sphere upward 1/2 of its height
      // sphere.position.y = 3;
      // Create a built-in "ground" shape; its constructor takes 6 params : name, width, height, subdivision, scene, updatable
      // BABYLON.Mesh.CreateGround('ground1', 6, 6, 2, this.scene, false);
      // Return the created scene


      BABYLON.SceneLoader.Append("/models/gLFT/", 'bus.glb', this.scene, (scene) => {
        scene.materials.forEach((material, index) => {
          // let mat = new BABYLON.StandardMaterial('mat' + index, this.scene)
          // mat.diffuseColor = BABYLON.Color3.Yellow()
          // mat.emissiveColor = BABYLON.Color3.Blue()
          // scene.materials[index] = mat
          scene.materials[index].diffuseColor = BABYLON.Color3.Yellow()
          console.log(index)
          //material.diffuseColor = BABYLON.Color3.Yellow() //new BABYLON.Texture('/models/gLFT/1/01_BaseColor2.png', this.scene)
        })
        console.log(scene)
      })

      this.engine.runRenderLoop(() => {
        this.scene.render();
      });

      window.addEventListener('resize', () => {
        this.engine.resize()
      })

      return this.scene;
    }
  }
}
</script>