<template>
    <div>
        <div class="actions">
            <input type="file" style="display: none" ref="file" @change="onFileChange" v-if="isFileInputActive"/>
            <div>Faces count: {{facesCount}}</div>
            <button @click="onLoadSceneClick">load scene</button>
            <button @click="toggleCamera">toggle camera</button>
            <button @click="loadFromServer">Load from server</button>
        </div>
        <div ref="container"></div>
    </div>
</template>
<style>
    .actions{
        position: fixed;
        top: 0;
        z-index: 10000;
    }
</style>
<script>
// eslint-disable-file
import * as THREE from 'three'
// import {FBXLoader} from 'three/examples/jsm/loaders/FBXLoader'
// import {GLTFLoader} from 'three/examples/jsm/loaders/GLTFLoader'
// import { OBJLoader } from 'three/examples/jsm/loaders/OBJLoader'
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';
import { RGBELoader } from 'three/examples/jsm/loaders/RGBELoader.js';

export default {
  name: 'HelloWorld',
  data() {
    return {
      isFileInputActive: true,
      scene: null,
      renderer: null,
      camera: null,
      outsideCamera: null,
      insideCamera: null,
      facesCount: 0
      // insideCameraContainer: null
    }
  },
  mounted() {
    this.scene = new THREE.Scene()
    this.scene.background = new THREE.Color( 0xffffff )

    let container = this.$refs.container
    this.outsideCamera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.01, 5000 )
    this.outsideCamera.position.set( 5, 5, 5 )
    this.outsideCamera.filmGauge = 35

    this.insideCamera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 1000 )
    this.insideCamera.position.set(0, 2.4, 1.3)
    this.insideCamera.rotation.set(0, Math.PI, 0)

    this.camera = this.outsideCamera

    // this.camera.position.z = 500

    let grid = new THREE.GridHelper( 2000, 20, 0x000000, 0x000000 )
    grid.material.opacity = 0.2
    grid.material.transparent = true
    this.scene.add( grid )


    this.renderer = new THREE.WebGLRenderer( { antialias: true } );
    this.renderer.setPixelRatio( window.devicePixelRatio );
    this.renderer.setSize( window.innerWidth, window.innerHeight );
    this.renderer.shadowMap.enabled = true;
    this.renderer.outputEncoding = THREE.sRGBEncoding;

    container.appendChild( this.renderer.domElement );

    let controls = new OrbitControls( this.outsideCamera, this.renderer.domElement );
    controls.target.set( 0, 2, 0 );
    controls.maxDistance = 8
    controls.minDistance = 8
    controls.minPolarAngle = Math.PI / 2 - Math.PI / 4
    controls.maxPolarAngle = Math.PI / 2
    controls.update();

    let controlsInside = new OrbitControls( this.insideCamera, this.renderer.domElement );
    controlsInside.panSpeed = 40
    controlsInside.target.set(0, 2.4, 1.2);
    controlsInside.maxDistance = 0.01
    controlsInside.minDistance = 0.01
    // controls.minPolarAngle = Math.PI / 2 - Math.PI / 4
    // controls.maxPolarAngle = Math.PI / 2
    controlsInside.update();

    // window.addEventListener('mousemove', (e) => {
    //   this.insideCamera.rotateOnWorldAxis (new THREE.Vector3(0, 1, 0), - e.movementX / 100)
    //   let leftVector = new THREE.Vector3(1, 0, 0).applyQuaternion(this.insideCamera.quaternion)
    //   this.insideCamera.rotateOnWorldAxis (leftVector, - e.movementY / 100)
    // })

    window.addEventListener('resize', () => {
        this.outsideCamera.aspect = window.innerWidth / window.innerHeight
        this.outsideCamera.updateProjectionMatrix()

        this.insideCamera.aspect = window.innerWidth / window.innerHeight
        this.insideCamera.updateProjectionMatrix()

        this.renderer.setSize( window.innerWidth, window.innerHeight )
    }, false )

    this.animate()

  },

  methods: {
    loadFromServer() {
      fetch('/models/app.json').then(response => {
        return response.json()
      }).then(json => {
        this.createSceneFromJSON(json)
      })
    },

    animate() {
      requestAnimationFrame( () => {
        this.facesCount = this.renderer.info.render.triangles
        this.animate()
      })
      this.renderer.render( this.scene, this.camera )
    },

    onLoadSceneClick() {
      this.$refs.file.click()
    },

    toggleCamera () {
      if (this.camera === this.insideCamera) {
        this.camera = this.outsideCamera
      } else {
        this.camera = this.insideCamera
      }
    },

    createSceneFromJSON(json) {
      let objectLoader = new THREE.ObjectLoader()
      let parsed = objectLoader.parse(json.scene)
      this.scene = parsed

      // this.$nextTick(() => {
      //   this.scene.traverse((item) => {
      //     if (item.isMesh) {
      //       console.log(item.material)
      //       //item.material.normalMap.magFilter = THREE.NearestFilter
      //       // item.material.map = item.material.normalMap
      //       // item.material.normalMap = null
      //       item.material.normalMap.anisotropy = 16
      //       // console.log(this.renderer.getMaxAnisotropy())
      //       // item.material.normalMap.format = THREE.DepthFormat
      //       item.material.roughness = 0
      //       item.material.normalMap.magFilter = THREE.NearestMipmapNearestFilter
      //       item.material.normalMap.needsUpdate = true
      //     }
      //   })
      // })

      let pmremGenerator = new THREE.PMREMGenerator( this.renderer )
      pmremGenerator.compileEquirectangularShader()

      let rgbEloader = new RGBELoader()
      rgbEloader.setDataType( THREE.UnsignedByteType ).load( '/models/royal_esplanade_1k.hdr', ( texture ) => {
        let envMap = pmremGenerator.fromEquirectangular( texture ).texture;

        this.scene.background = envMap;
        this.scene.environment = envMap;

        texture.dispose();
        pmremGenerator.dispose();
      })
    },

    onFileChange () {
      if (this.$refs.file.files.length > 0) {
        let reader = new FileReader();
        reader.onload = () => {
          let json = JSON.parse(reader.result)
          this.createSceneFromJSON(json)

          this.isFileInputActive = false

          this.$nextTick(() => {
            this.isFileInputActive = true
          })
        }
        reader.readAsText(this.$refs.file.files[0])
      }
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
